    * {
      box-sizing: border-box;
      -moz-box-sizing: border-box;

      margin: 0;
      padding: 0;
    }


    body {
      overflow-x: hidden;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }


    /*! There are a total of 21 sections (11 sections in home, and 10 in shop) Every section will be in order except for the footer. It will be placed last
      * = shared class between pages, ^ = original class attributes in an early class
                                                                                       
      For your convenience, here is a list of the sections
                                                Home Page Grid (1) 
        (3) reminder                     section3              (4) saleBanner                   section4*                      
        (5) featOpener                   section5              (6) trendNowProdSect             section6             
        (7) memberAdv                    section7              (8) denimUpdate                  section8              
        (9) hmHomeLove                   section9              (10) hmMagazine                  section10                           
        (11) emptyDivider                section11
        
                                                  Shop Page Grid (2)
        (2) sidebar                      section2

        (13) menShirtInfo                section13             (14) prodFilters                 section14                           
        (15) selectedFilters             section15             (16) menProdGrid                 section16                          
        (17) showAllProd1 (mens)         section17                           
        (18) wmnShirtInfo                section18 ^13         (19) womenProdGrid               section19 ^16                           
        (20) showAllProd2 (wmns)         section20 ^17         (21) trendingProd                section21  

                                    (1) navBar                       section1*
                                    (12) Footer                      section12*                             

        Separate Modules: Cart Modal 1 | Favorites Modal 2    */



    /*
<!--         Your Library                                            Tab 2 of Library                                               -->
<!--         Listen Later                                            Tab 3 of Library                                               -->
<!--         Your Library                                            Tab 4 of Library                                               -->
<!--         Your Library                                            Tab 5 of Library                                               -->*/





    /*                  Grid Layout               */
    .grid.layout {
      position: relative;
      display: grid;
      text-align: center;
      grid-template-columns: 0.75fr repeat(3, 1fr);
      grid-template-rows: 0.1fr 3.5fr 1.0fr;
      grid-template-areas:
        "librarySideBar appSettingsNav appSettingsNav appSettingsNav"
        "librarySideBar homeSect homeSect homeSect"
        "playNowSect playNowSect playNowSect playNowSect";
    }




    /*    Grid Areas    */
    .appSettingsNav {
      grid-area: appSettingsNav;
    }

    .homeSection.tab {
      grid-area: homeSect;
      background-color: #1c1c1c;
    }

    .playingNowSect {
      grid-area: playNowSect;
      background-color: #181818;
    }

    .librarySideBar {
      grid-area: librarySideBar;
    }






    /***         (1)  appSettingsNav                                       section1                ***/

    .appSettings.Menu {
      background-color: black;
      height: 100%;
    }

    .project.Logo {
      display: none;
    }

    .appSettings.Container {
      display: flex;
      width: 90%;
      flex-direction: column;
      align-items: flex-end;
      height: 100%;
      justify-content: center;
    }


    a.settings.mainBtnHeader.\31 {
      font-size: 18px;
      font-weight: bold;
      color: white;
    }

    .userSettings {
      display: flex;
      flex-direction: column;
    }

    button.setting {
      border: none;
      padding: 0.25rem;
      color: white;
      background-color: transparent;
    }

    .userSettings {
      display: absolute;
      position: absolute;
      display: none;
    }

    button.logOutBtn {
      width: 60%;
      border: none;
      border-radius: 40%;
      padding: 0.5rem;
    }






    /***       (2)  homeSection                                           section2              ***/

    .home.BannerImage {
      background-image: url(../material/appIcons/banner1_image.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 10rem;
      width: 100%;
      margin-left: 20px;
      margin-right: 20px;
    }


    .homeContent.HeaderCont {
      display: flex;
      color: white;
    }

    .home.playlistCont {
      display: flex;
      /* justify-content: flex-start; */
    }

    p.homeContentHeader {
      display: flex;
      color: white;
    }

    button.playlistBtnCont {
      display: flex;
    }

    .playlistCover {
      background-image: url(../material/song_artCovers/bound2_song7.jfif);
      background-repeat: no-repeat;
      background-size: cover;
      height: 5rem;
      width: 100%;
    }





    /** Tabs **/
    .yourLibrarySect.tab {
      display: none;
      width: 100%;
      height: 100%;
      grid-area: homeSect;
      overflow-x: hidden;
    }

    .searchCont.tab4 {
      background-color: #121212;
      height: fit-content;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    .library.newPlaylistInfo {
      background-color: #474747;
      text-align: left;
      display: flex;
      border-left: solid 50px #474747;
      border-bottom: solid 50px #474747;

    }

    .library.newPlaylistCont {
      background-color: #1C1C1C;
    }

    .newPlaylistUserName.\31 {
      color: white;
    }

    .newPlaylistUserSongs.\31 {
      color: #B3B3B3;
    }

    .newPlaylistUserTime.\31 {
      color: #B3B3B3;
    }



    /*Playlist Icons */
    .playlistControlLeftCont.\31 {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }

    button.playlistPlayBtn.\31 {
      background-color: #1DB954;
      border: none;
      border-radius: 100%;
      height: 4.1rem;
      width: 4rem;
    }

    button.playlistDownloadBtn.\31 {
      background-color: #1DB954;
      border: none;
      border-radius: 100%;
      height: 2.2rem;
      width: 2rem;
    }

    button.playlistSettingsBtn.\31 {
      border: none;
      background-color: transparent;
    }

    button.playlistSearchBtn.\31 {
      background-color: transparent;
      border: none;
    }

    button.playlistFilterSongBtn.\31 {
      background-color: transparent;
      border: none;
    }

    .playlistControlRightCont.\31 {
      display: flex;
      align-content: center;
    }


    p.findSongsPlaylistHeader {
      color: white;
      font-size: 20px;
      font-weight: bold;
    }



    /* Top Container */
    .newPlaylistUserCont {
      display: flex;
      gap: 7px;
    }

    .library.newPlaylistImage {
      background-image: url(../material/song_artCovers/myLove_song11.jfif);
      background-repeat: no-repeat;
      background-size: cover;
      height: 14rem;
      width: 20%;
    }


    /* bottom container */
    .newPlaylistControlCont.\31 {
      display: flex;
      justify-content: space-between;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .newPlaylist.colmHeaders {
      display: flex;
      justify-content: space-between;
      color: #B3B3B3;
      font-size: 14px;
      margin-left: 110px;
    }

    .newPlaylist.orderCont {
      display: flex;
    }


    /* Song Div */
    button.newPlaylistSongs {
      z-index: 1000;
    }

    .newPlaylistSongs {
      cursor: pointer;
      display: flex;
      /*background-color: tan;*/
      width: 100%;
      background-color: #1C1C1C;
      border: transparent;
      margin-top: 2rem;
      margin-left: 1rem;
      margin-right: 2rem;
      align-items: center;
      justify-content: space-around;
    }

    .playlistSong.orderCont {
      display: flex;
      align-items: center;
      min-width: 15rem;
      /* background-color: red; */
      gap: 1rem;
    }

    .playlistSongs.albumCont {
      align-items: flex-start;
      width: 10rem;
      text-align: left;
    }

  
    /*Song Setting Options: Like, Listen Later, etc*/
    .song-nav {
      letter-spacing: .2em;
      color: #FFF;
      display: block;
      width: fit-content; 
      background: #033677;
      position: relative;


      left: -32%;     /*-6*/
    }

    .menuGear{
      background-image: url("../material/appIcons/icon_settingsGear.svg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 16px;
      width: 16px;
    }

    li.optionHeader{
      list-style: none;
      line-height: 2.0rem;
      cursor: pointer;
      width: 100%;
      padding: 10px 10px 10px 10px;
    }



    li.liHeader1 + ul {display: none;}

    li.liHeader1:hover + ul {display: block;}
    
    ul.level1:hover {display:block;}
       
    .liHeader1:hover {background-color: red;}

    .liHeader:hover{ 
      background: red; 
      width: 100%;
    }

    .liHeader{
      position: relative;
      font-size: 0.7rem;
    }

    .song-nav-ul > li > ul {display: none;}
    .song-nav-ul li:hover > ul {display: block;}    /*Settings Hover*/

    .sub-nav-ul > li > ul {display: none;}

    .sub-nav-ul li:hover > ul {
      background-color: purple; 
      display: block; 
      position: absolute;
      top: 0%;
      left: 100%;
        
      border-top: 2px solid #666;
      padding: 5px 15px 5px 15px;
      margin-left: 1px;
    }


    .sub-nav-ul{
      position: absolute;
      top: 0%;
      left: 100%;
      background-color: #033677;
    }





    /* Tab 3 - Listen Later */
    .yourLibrarySect.tab.\33 {
      background-color: #1c1c1c;
    }

    .laterTabHeaderCont {
      display: flex;
      justify-content: space-between;
    }

    button.laterTabHeader {
      cursor: pointer;
      border: none;
      background-color: transparent;
      color: white;
      font-size: 16px;
    }

    /*    Drag and Drop     */
    .allDropZoneLists {
      display: flex;
      justify-content: space-between;
    }

    div.dropzone {
      height: 30rem;
      background-color: red;
      overflow-x: auto;
    }

    .listenTrackImage{
      background-image: url("../material/song_artCovers/shadowLady_song1.jfif");
      background-repeat: no-repeat;
      background-size: cover;
      height: 3rem;
      width: 3rem;
    }


    /*  Song Containers */
    .listenSongCont {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
    }

    button.SongBtnCont{
      display: flex;
      align-items: center;
      gap: 2rem;
    }



  
    /*Tab 4 - Search for Items */
    a.productSectLink {
      font-size: 16px;
      color: #000000;
      text-decoration: none;
    }


    input.searchProductInput.\31 {
      position: relative;
      top: 51%;
      left: -15%;
      border: none;
      border-bottom: 1px solid black;
      background-color:#ffffff;
      border-radius: 300px;
      display: inline-block;
      font-size: 13px;
      line-height: 26px;
      padding: 6px 48px;
      width: 365px;
    }

    input.searchProductInput.\31::placeholder {
      font-size: 13px;
      color: #A7A7A7;
    }

    input.searchProductInput.\31:focus {
      outline: none;
    }

    button.recentSearch.seeAll.\31{
      cursor: pointer;
      color: #a7a7a7;
      display: inline-block;    
      line-height: 27px;
      padding: 14px 32px;
      text-align: center;
      border: none;
      font-size: 13px;
      background-color: transparent;
      text-transform: uppercase;
    }

    .recentSearch.textCont {
      text-align: left;
      line-height: 1.2rem;
      margin-top: 0.7rem;
    }
  




    /*      Search Tab 4       */
    .albumBlocksCont.\31 {
      margin-left: 30px;
    }
    .recentSearchHeadersCont {      /*Recent Search Div Area */
      display: flex;
      justify-content: space-between;
    }
    .recentSearch.allAlbumCont {
      display: flex;
      gap: 1.5rem;
    }
    .recentSearchAlbumCont {
      background-color: #1c1c1c;
      height: 18.5rem;
      width: 13rem;
    }

    /* Search headers */
    p.recentSearchHeader {
      font-size: 24px;
      color: white;
      font-weight: 700;
      letter-spacing: -0.96px;
      line-height: 3.75rem;
      margin-top: 1rem;
    }

    .recentSearch.albumInfo {       /*Recent Search Albums*/
      margin-left: 15px;
      margin-right: 15px;
    }

    .recentSearch.albumInfoCover {
      margin-top: 1rem;
      height: 12rem;
      width: 11rem;
    }

    button.recentSearch.albumRemove {
      position: relative;
      top: 10%;
      left: 32%;
    }

    /*Album Text*/
    p.recentSearch.albumInfoName {
      color: white;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    p.recentSearch.albumInfoArtist {
      color: #B3B3B3;
    }


    /*Album Photos*/
    .recentSearch.albumInfoCover.\31 {
      background-image: url(../material/albums/seven/seven_albumCover.jfif);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .recentSearch.albumInfoCover.\32 {
      background-image: url(../material/albums/currentsB/currentsB_albumCover.jfif);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .recentSearch.albumInfoCover.\33 {
      background-image: url(../material/albums/myDearMelancholy/myDearMelancholy_albumCover.jfif);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .recentSearch.albumInfoCover.\34 {
      background-image: url(../material/albums/whereDoesTheDevilHide/whereDoesTheDevilHide_albumCover.jfif);
      background-repeat: no-repeat;
      background-size: cover;
    }

    /*            Genres Block Section          */
    /* Genre Block Colors: 
    amber, lavender, hotPink, scarlet, jade, navy, azure, thistle, tawnyBrown, greenPear, skyBlue, teal, gray*/
    .amber {background-color: #DD571C;}
    .lavender {background-color: #B57EDC;}
    .hotPink {background-color: #FF007F;}
    .scarlet {background-color: #FF1859;}
    .jade {background-color: #00A86B;}
    .navy {background-color: #003366;}
    .azure {background-color: #007FFF;}
    .thistle {background-color: #CDB6E4;}
    .tawnyBrown {background-color: #80471C;}
    .greenPear {background-color: #228C22;}
    .skyBlue {background-color: #00BFFF;}
    .teal {background-color: #008080;}
    .gray {background-color: #808080;}

    .genreBlockCont {
      display: flex;
      gap: 1.4rem;
      width: fit-content;
    }

    .topGenre.genreBlock {
      gap: 1.0rem;
      height: 10rem;
      width: 28rem;
      border-radius: 8px;
      overflow: hidden;
    }

    .browseAll.genreBlock {
      height: 12rem;
      width: 12rem;
      border-radius: 8px;
      overflow: hidden;           /*makes coverImg disappear as it leaves the color block*/
    }
    .browseAll.genreBlockCont.\32 {
      display: flex;
      height: 0.2rem;
      flex-wrap: wrap;
    }

    p.topGenre.genreBlockHeader {
      float: left;
      font-size: 30px;
      margin-left: 20px;
    }

    p.genreBlockHeader {
      float: left;
      padding: 18px;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: -0.4px;
      line-height: 31.2px;
      color: white;
    }

    /*genreBlock Images*/
    .genreBlockImage {
      position: relative;
      top: 28%;
      left: 77%;
      height: 125px;
      width: 125px;

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transform: rotate(25deg);
    }

    .browseAll.genreBlockImage {
      top: 47%;
      left: 57%;
      height: 100px;
      width: 100px;
    }

    /*top block images*/
    .topGenre.genreBlockImage.\31 {background-image: url('../material/genreListCovers/genreList_hipHop.jpg');}
    .topGenre.genreBlockImage.\32 {background-image: url('../material/genreListCovers/genreList_pop.jpg');}
    .topGenre.genreBlockImage.\33 {background-image: url('../material/genreListCovers/genreList_dance.electronic.jpg');}

    /*bottom block images*/
    .browseAll.genreBlockImage.\31 {background-image: url('../material/genreListCovers/genreList_podcasts.jpg');}
    .browseAll.genreBlockImage.\32 {background-image: url('../material/genreListCovers/genreList_madeForYou.png');}
    .browseAll.genreBlockImage.\33 {background-image: url('../material/genreListCovers/genreList_charts.jpg');}
    .browseAll.genreBlockImage.\34 {background-image: url('../material/genreListCovers/genreList_newReleases.jpg');}
    .browseAll.genreBlockImage.\35 {background-image: url('../material/genreListCovers/genreList_discover.jpeg');}
    .browseAll.genreBlockImage.\36 {background-image: url('../material/genreListCovers/genreList_concerts.jpg');}
    .browseAll.genreBlockImage.\37 {background-image: url('../material/genreListCovers/genreList_country.jpg');}
    .browseAll.genreBlockImage.\38 {background-image: url('../material/genreListCovers/genreList_frequency.jpg');}
    .browseAll.genreBlockImage.\39 {background-image: url('../material/genreListCovers/genreList_workout.jpg');}
    .browseAll.genreBlockImage.\31 0 {background-image: url('../material/genreListCovers/genreList_latin.jpg');}
    .browseAll.genreBlockImage.\31 1 {background-image: url('../material/genreListCovers/genreList_netflix.jpg');}
    .browseAll.genreBlockImage.\31 2 {background-image: url('../material/genreListCovers/genreList_rnb.jpg');}
    .browseAll.genreBlockImage.\31 3 {background-image: url('../material/genreListCovers/genreList_wellness.jpg');}
    .browseAll.genreBlockImage.\31 4 {background-image: url('../material/genreListCovers/genreList_mood.jpg');}
    .browseAll.genreBlockImage.\31 5 {background-image: url('../material/genreListCovers/genreList_sleep.jpg');}
    .browseAll.genreBlockImage.\31 6 {background-image: url('../material/genreListCovers/genreList_indie.jpg');}
    .browseAll.genreBlockImage.\31 7 {background-image: url('../material/genreListCovers/genreList_christianNGospel.jpeg');}
    .browseAll.genreBlockImage.\31 8 {background-image: url('../material/genreListCovers/genreList_regionalMexican.jpeg');}
    .browseAll.genreBlockImage.\31 9 {background-image: url('../material/genreListCovers/genreList_chill.jpg');}
    .browseAll.genreBlockImage.\32 0 {background-image: url('../material/genreListCovers/genreList_kidsNFamily.png');}



    /*Tab 5*/
    .trackImage {
      background-repeat: no-repeat;
      background-size: cover;
      height: 3rem;
      width: 3rem;
    }

    .addNewSongsPlaylistCont {
      display: flex;
      justify-content: space-around;
      background-color: #1c1c1c;
    }



    /*Finished Playlist*/
    button.finishedPlaylistBtn {
      position: sticky;
      top: 50%;
    }

    .playlistSong.trackInfoCont {
      text-align: left;
    }

    p.playlistSong.trackOrder {
      color: #B3B3B3;
      font-weight: bold;
    }

    p.playlistSong.trackTitle {
      color: white;
    }

    p.playlistSong.trackArtist {
      color: #B3B3B3;
    }

    p.playlistSong.albumTitle {
      color: #B3B3B3;
    }

    p.playlistSong.dateAdded {
      color: #B3B3B3;
      min-width: 16rem;
    }


    p.playlistSong.durationTime {
      color: #B3B3B3;
    }








    /* Tab 5 */

    p.newPlaylistHeader {
      color: white;
      text-transform: uppercase;
      font-size: 12px;
    }

    h1.newPlaylistName.\31 {
      color: white;
      font-size: 85px;
      font-weight: bold;
    }



    /***          (3) librarySideBar                                      section3                ***/
    .librarySideBar.headerCont {
      display: flex;
      flex-direction: column;
      height: 100%;
      background-color: black;
    }
    .librarySideBarContent {
      display: flex;
      flex-direction: column;
    }

    h1.librarySideBar.mainHeader.\31 {
      margin-top: 20px;
      font-size: 25px;
      color: white;
    }

    button.librarySideBar.headerBtn {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-left: 15px;
      margin-right: 15px;
      padding: 0.75rem;
      border: none;

      font-size: 14px;
      text-align: left;
      background-color: transparent;
      color: #B3B3B3;
    }

    .sideBar.Icon{margin-right: 15px;}

    .sideBar.Icon.\35 {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 24px;
      width: 24px;
      border-radius: 2px;
      background-color: #b3b3b3;
      color: #000;
    }


    /***          (4)  playingNowSect                    section4               ***/
    .playingNowSectCont {
      display: flex;
      justify-content: space-between;
    }


    button.songSkip {
      height: 20px;
      width: 24px;
      color: white;
    }




    /*Left Container */
    .songInfo.playNowCategory.\31 {
      margin-left: 20px;
    }

    .songInfo.Name.\31 {
      text-align: left;
    }

    .songInfo.Container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    h3.songInfoHeader.\31 {
      color: white;
    }

    p.songInfoArtist.\31 {
      color: white;
    }

    p.songInfoTrack.\31 {
      color: white;
    }





    /*Middle Container */
    .songPlayingAlbum.Image.\31 {
      background-image: url("../material/song_artCovers/myLove_song11.jfif");
      background-repeat: no-repeat;
      background-size: cover;
      height: 5rem;
      width: 100%;
    }


    .ProgBar.\31 {
      margin-bottom: 16px;
      width: 28%;
      background-color: grey;
    }

    .ProgBar.\32 {
      height: 5px;
      width: 66%;
      background-color: black;
    }


    .playBackIcon {
      cursor: pointer;
      color: black;
      /* align-items: center; */
      /* text-align: center; */
    }

    .songSkipSettings.\31 {
      display: flex;
    }


    /*Play Button */
    button.songSkip.Setting.\32 {
      height: 30px;
      width: 30px;
      border: none;
      border-radius: 100%;
      display: flex;
      align-items: center;
    }


    svg.playBtnIcon {
      height: 34px;
      width: 26px;
    }





    /*Song Duration Cont */
    .songProgressCont {
      display: flex;
    }



    /*right Container*/
    .globalSetting.playNowCategory.\33 {
      margin-right: 20px;
    }


    button.songQueueBtn {
      height: 20px;
      width: 20px;
      border-radius: 60%;
      background-color: orange;
    }

    button.songMuteBtn {
      height: 20px;
      width: 20px;
      border-radius: 60%;
      background-color: orangered;
    }





    /*This allows playback functions to work because the svg covers the button sometimes*/
    svg {
      display: block;
      fill: currentcolor;
    }











    /***          (7)                      section7              ***/








    /*****                                              Media Queries                                               *****/

    @media (max-width: 1250px) {}


    @media (max-width: 870px) {}



    @media (max-width: 546px) {}



    @media (max-width: 387px) {}
