    * {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      margin: 0;
      padding: 0;
      /*Page Debugger
      background: #000 !important;
      color: #0f0 !important;
      outline: solid #f00 1px !important;*/
    }

    html, body {
      overflow-x: hidden;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      height: 100%;         /*Locks the body scrollbar so the app doesn't move*/
      overflow-y: hidden;
    }

    ::-webkit-scrollbar { /*if a section tab needs to scroll, hide the scrollbar*/
      display: none;
    }

    /*! There are 4 sections with the contentTabs holding 5 individual views
      (1) appSettingsNav                                      section1
      (2) librarySidebar                                      section2
      (3) contentTabs                                         section3
            Home (3)                                     tab1 
            Your Library (3)                             tab2                                             
            Listen Later (3)                             tab3                                             
            Search (3)                                   tab4                                               
            Playlist (3)                                 tab5           
      (4) playingNowSect                                      section4                  
    /*

    /*         Page Grid Layout          */
    .grid.layout {
      position: relative;
      display: grid;
      text-align: center;
      grid-template-columns: 0.75fr repeat(3, 1fr);
      grid-template-rows: 0.4fr 5.09fr 0.2fr;
      grid-template-areas:
        "librarySideBar contentTabs contentTabs contentTabs"
        "librarySideBar contentTabs contentTabs contentTabs"
        "playNowSect playNowSect playNowSect playNowSect";
      height: 100vh;        /*Makes one page applications fit on different device sizes*/
      width: 100vw;
    }

    /*    Grid Areas    */
    /*.appSettingsNav {grid-area: appSettingsNav;}*/
    .librarySideBar {grid-area: librarySideBar;}
    .homeSection.tab {
      grid-area: contentTabs;
      background-color: #1c1c1c;
      padding-top: 4rem;
    }
    .playingNowSect {
      grid-area: playNowSect;
      background-color: #181818;
      height: 7.625rem;
    }

    


  /***        (1) appSettingsNav                                                                   section1               ***/
    .appSettingsNav {
      position: absolute;
      left: 24%;
      height: 3rem;
      width: 72%;
    }
    .appSettings.Menu {height: 100%;}
    .appSettings.Container {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      height: 100%;
      width: 100%;
    }

    /*  Change Tab Arrows   */
    .appNavTabCont {
      display: flex;
      gap: 1rem;
    }

    button.appNavTabBtn {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      width: 32px;

      border-radius: 50%;
      border: none;
      background-color: #000000b3;
    }

    /* App Settings Button */
    href.settings.mainBtnHeader.\31 {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      height: 32px;
      width: 9rem;
      border-radius: 23px;
      border: none;
      font-size: 10px;
      background-color: black;
      color: white;
    }

    a.settings.mainBtnHeader.\31 {
      font-size: 16px;
      font-weight: bold;
      color: white;
      margin-right: 10px;
    }

    .userSettings {
      display: flex;
      flex-direction: column;
    }

    button.setting {
      border: none;
      padding: 0.25rem;
      color: white;
      background-color: transparent;
    }

    .userSettings {
      display: absolute;
      position: absolute;
      display: none;
    }

    button.logOutBtn {
      width: 60%;
      border: none;
      border-radius: 40%;
      padding: 0.5rem;
    }


  /***        (2) librarySideBar                                                                   section2               ***/
    .librarySideBar.headerCont {
      display: flex;
      flex-direction: column;
      height: 100%;
      background-color: black;
    }
    .librarySideBarContent {
      display: flex;
      flex-direction: column;
    }

    /*Logo*/
    .appLogoCont {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      margin-top: 2rem;
      margin-bottom: 3rem;
    }

    p.appLogoName {
      color: white;
      font-size: 24px;
    }



    h1.librarySideBar.mainHeader.\31 {
      margin-top: 20px;
      font-size: 25px;
      color: white;
    }

    button.librarySideBar.headerBtn {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-left: 15px;
      margin-right: 15px;
      padding: 0.75rem;
      border: none;

      font-size: 14px;
      text-align: left;
      background-color: transparent;
      color: #B3B3B3;
    }
    button.songSkip.Setting.\32 {background-color: #fff;}

    .sideBar.Icon{margin-right: 15px;}

    .sideBar.Icon.\35 {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 24px;
      width: 24px;
      border-radius: 2px;
      background-color: #b3b3b3;
      color: #000;
    }


 
  /***        (3) contentTabs                                                                   section3               ***/

    /***        Home (3)                                     tab1               ***/   
    .home.BannerImage {
      background-image: url(../material/appIcons/banner1_image.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 13rem;
      width: 90%;
      margin-left: 39px;
      margin-right: 20px;
    }

    p.bannerImage.Header {
      color: white;
      font-size: 40px;
      position: relative;
      top: 28%;
      left: -21%;
    }

    button.bannerImage.hideBtn {
      cursor: pointer;
      position: relative;
      top: 2%;
      left: 36%;
      height: 32px;
      width: 9.5rem;

      font-size: 10px;
      opacity: 0.55;
      border: none;
      background-color: #333;
      color: white;
      border-radius: 23px;
      text-transform: uppercase;
      transition: 1000ms;
    }

    button.bannerImage.hideBtn:hover{
      opacity: 0.7;
      transition: 1000ms;
    }

    .homeContent.HeaderCont {
      display: flex;
      color: white;
    }

    .home.playlistCont {display: flex;}

    p.homeContentHeader {
      display: flex;
      color: white;
      margin-left: 5px;
      margin-bottom: 16px;
      font-size: 24px;
    }

    .homeContent.\31 {
      margin-top: 30px;
    }

    button.playlistBtnCont {display: flex;}

    .playlistCover {
      margin-top: 1rem;
      background-image: url(../material/song_artCovers/bound2_song7.jfif);
      background-repeat: no-repeat;
      background-size: cover;
      height: 10.5rem;
      width: 10.5rem;
      margin: 0.9rem;
    }


    .homeContentContainer.\31{
      margin-left: 30px;
    }

    /*These styles are borrowed from the recentSearch albums. Will have to refine both, including the yourLib to be able to share styles*/
    .homeContentCont.allAlbumCont {
      display: flex;
      margin-bottom: 5rem;
      gap: 1.5rem;
    }

    .home.playlistCont {
      display: flex;
    }

    .homeContentContAlbumCont {
      background-color: #181818;
      height: 17.5rem;
      width: 12.5rem;
    }
     .homeContentCont.albumInfo {       /*Recent Search Albums*/
      cursor: pointer;
      margin-left: 15px;
      margin-right: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .homeContentCont.albumInfoCover {
      margin-top: 1rem;
      height: 12rem;
      width: 11rem;
    }

    button.homeContentCont.albumRemove {
      position: relative;
      top: 10%;
      left: 32%;
    }

    /*Album Text*/
    .homeContentCont.textCont{
      margin-top: 15px;
    }

    p.homeContentCont.albumInfoName {
      color: white;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    p.homeContentCont.albumInfoArtist {
      color: #B3B3B3;
    }


    /*Album Photos*/
    .homeContentCont.albumInfoCover.\31 {
      background-image: url(../material/albums/seven/seven_albumCover.jfif);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .homeContentCont.albumInfoCover.\32 {
      background-image: url(../material/albums/currentsB/currentsB_albumCover.jfif);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .homeContentCont.albumInfoCover.\33 {
      background-image: url(../material/albums/myDearMelancholy/myDearMelancholy_albumCover.jfif);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .homeContentCont.albumInfoCover.\34 {
      background-image: url(../material/albums/whereDoesTheDevilHide/whereDoesTheDevilHide_albumCover.jfif);
      background-repeat: no-repeat;
      background-size: cover;
    }



    /***        Your Library (3)                                     tab2               ***/   
    .yourLibraryCont.tab2 {
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      align-items: flex-start;
    }

    .yourLibrary.playlistCont {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      margin-left: 30px;
    }


    /*Playlist Button Styles*/
    button.playlistBtnCont{
      cursor: pointer;
      display: flex;
      flex-direction: column;
      height: 17.375rem;
      width: 12.5rem;
      background-color: #1c1c1c;
    }

    .yourLibrary.playlistName {
      margin-left: 0.9rem;
      color: #fff;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .yourLibrary.playlistCover.\30{background-image: url('../material/appIcons/recentlyPlay_icon.jpg');}      /*Recently Played Playlist Cover*/
    .yourLibrary.playlistCover.\31{background-image: url('../material/appIcons/downloadedFiles_icon.jpg');}   /*Downloaded Playlist Cover*/


    .yourLibrarySect.tab {
      grid-area: contentTabs;
      display: none;
      width: 100%;
      height: 100%;
      background-color: #1c1c1c;
      overflow-x: hidden;
      padding-top: 4rem;
    }

    .yourLibrarySect.tab.\34 {padding-top: unset;}

    .yourLibrarySect.tab.\35 {padding-top: unset;}

    .searchCont.tab4 {
      background-color: #121212;
      height: fit-content;
      padding-top: 4rem;
    }

    .library.newPlaylistInfo {
      background-color: #474747;
      text-align: left;
      display: flex;
      gap: 1.25rem;

      padding-top: 4rem;
      padding-left: 30px;
      padding-bottom: 30px;
    }

    .library.newPlaylistCont {
      background-image: linear-gradient( 0deg, hsl(0deg 0% 11%) 72%, hsl(0deg 0% 18%) 101%, hsl(0deg 0% 26%) 101%, hsl(0deg 0% 36%) 100%);
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      max-height: 19rem;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    .newPlaylistUserName {color: white;}
    .newPlaylistUserSongs {color: #B3B3B3;}
    .newPlaylistUserTime {color: #B3B3B3;}


    /*Playlist Icons */
    .playlistControlLeftCont.\31 {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }

    button.playlistPlayBtn.\31 {
      cursor: pointer;
      background-color: #1DB954;
      border: none;
      border-radius: 100%;
      height: 4.1rem;
      width: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button.playlistDownloadBtn.\31 {
      cursor: pointer;
      background-color: #1DB954;
      border: none;
      border-radius: 100%;
      height: 2.2rem;
      width: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    button.playlistSettingsBtn.\31 {
      border: none;
      background-color: transparent;
    }

    button.playlistSearchBtn.\31 {
      background-color: transparent;
      border: none;
    }

    button.playlistFilterSongBtn.\31 {
      background-color: transparent;
      border: none;
    }

    .playlistControlRightCont.\31 {
      display: flex;
      align-content: center;
    }


    p.findSongsPlaylistHeader {
      color: white;
      font-size: 20px;
      font-weight: bold;
    }



    /* Top Container */
    .newPlaylistUserCont {
      display: flex;
      gap: 7px;
    }

    .library.newPlaylistImage {
      background-image: url(../material/song_artCovers/myLove_song11.jfif);
      background-repeat: no-repeat;
      background-size: cover;
      height: 12rem;
      width: 12rem;
    }


    /* bottom container */
    .newPlaylistControlCont.\31 {
      display: flex;
      justify-content: space-between;
      margin-left: 1rem;
      margin-right: 1rem;
      width: 90%;
    }

    .newPlaylist.colmHeaders {
      display: flex;
      justify-content: space-around;
      color: #B3B3B3;
      font-size: 14px;
      width: 95%;
    }

    button.playlistBackwardsBtn {
      cursor: pointer;
      background-color: transparent;
      border: none;
    }

    button.playlistFilterBtn.\31 {
      background-color: transparent;
      border: none;
    }

    .playlistFilterIcon.\31 {
      cursor: pointer;
      background-color: transparent;
      color: #b3b3b3;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-decoration-line: underline;
    }

    .newPlaylist.orderCont {
      display: flex;
    }


    /* Song Div */
    .newPlaylistSongs {
      cursor: pointer;
      display: flex;
      background-color: inherit;
      width: 100%;
      border: transparent;
      margin-top: 2rem;
      margin-left: 1rem;
      margin-right: 2rem;
      align-items: center;
      justify-content: space-around;
    }

    .playlistSong.orderCont {
      display: flex;
      align-items: center;
      min-width: 15rem;
      /* background-color: red; */
      gap: 1rem;
    }

    .playlistSongs.albumCont {
      align-items: flex-start;
      width: 10rem;
      text-align: left;
    }

  
    /*Song Setting Options: Like, Listen Later, etc*/
    .song-nav {
      letter-spacing: .2em;
      color: #FFF;
      display: block;
      width: fit-content; 
      background: transparent;
      position: relative;
      left: -68%;
      z-index: 1000;
    }

    .menuGear{
      background-image: url("../material/appIcons/icon_settingsGear.svg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 16px;
      width: 16px;
    }

    li.optionHeader{
      list-style: none;
      line-height: 2.0rem;
      cursor: pointer;
      width: 100%;
      padding: 10px 10px 10px 10px;
    }


   /*ul.song-nav-ul > li > ul {display: none;}
    ul.song-nav-ul li:hover > ul {display: block;}    /*Settings Hover*/

    li.liHeader1 + ul {display: none;}
    li.liHeader1:hover + ul {display: block;}
    
    ul.level1:hover {display:block;}

    .liHeader1:hover {background-color: white;}

    .liHeader:hover{ 
      background-color: #1c1c1c; 
      width: 100%;
      z-index: 1000;
      position: relative;
      font-size: 0.7rem;
    }

    ul.sub-nav-ul > li > ul {display: none;}
    ul.sub-nav-ul li:hover > ul {
      background-color: purple; 
      display: block; 
      position: absolute;
      top: 0%;
      left: 100%;

        
      border-top: 2px solid #666;
      padding: 5px 15px 5px 15px;
      margin-left: 1px;
      z-index: 2000;
    }

    ul.sub-nav-ul li > ul:hover {
      display: block;
    }

    ul.level2:hover{
      display: block;
    }

    .sub-nav-ul{
      position: absolute;
      top: 0%;
      left: 100%;
      background-color: #000000;
    }



    /***        Listen Later (3)                                     tab3               ***/   
    .yourLibrarySect.tab.\33 {
      background-color: #1c1c1c;
    }

    .laterTabHeaderCont {
      display: flex;
      justify-content: space-around;
    }

    .allDropZoneLists {
      display: flex;
      width: 80%;
      flex-wrap: wrap;
      margin-left: 4.5rem;
      margin-right: 5rem;
      gap: 5rem;
    }

    .dropZoneCont {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-basis: 18%;
    }

    button.laterTabHeader {
      cursor: pointer;
      float: left;
      font-size: 24px;
      letter-spacing: -0.4px;
      line-height: 31.2px;
      font-weight: bold;
      padding: 18px;

      border: none;
      background-color: transparent;
      color: white;
    }

    /*    Drag and Drop     */
    div.dropzone {
      height: 30rem;
      min-width: 15rem;
      overflow: hidden;
    }
    .priorityList.dropzone{background-color: #00A86B;}
    .nonEssentialList.dropzone{background-color: #003366;}
    .eventuallyList.dropzone{background-color: #808080;}

    /* Listen Later - Start State Look (Add a Song) */
    p.dropzoneHeader {
      float: left;
      padding: 18px;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: -0.4px;
      line-height: 31.2px;
      color: white;
    }

    .dropzoneImage {
      position: relative;
      top: 14%;
      left: 58%;
      height: 140px;
      width: 140px;

      background-image: url('../material/genreListCovers/genreList_listenLater.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transform: rotate(25deg);
    }


    .listenTrackImage{
      background-image: url("../material/song_artCovers/shadowLady_song1.jfif");
      background-repeat: no-repeat;
      background-size: cover;
      height: 3rem;
      width: 3rem;
    }


    /*  Song Containers */
    .listenSongCont {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
    }

    /*Song Handle Bar Styling*/
    .songHandleBar {
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 4rem;
      background-color: #1C1C1C;
    }

    button.SongBtnCont {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 2rem;
      height: 4rem;
      width: 100%;
      background-color: #1C1C1C;
      border: transparent;
    }

    /* Later Song Styling */
    p.listenTrackTitle {color: white;}
    p.listenTrackArtist {color: #B3B3B3;}
    p.listenAlbumTitle {color: #B3B3B3;}
    p.listenDurationTime {color: #B3B3B3;}

    /*Song pause buttons*/
    button.listenLaterPause {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4rem;
      border: none;
      width: 13%;
      background-color: #1C1C1C;
    }


    

    /***        Search (3)                                     tab4               ***/   
    a.productSectLink {
      font-size: 16px;
      color: #000000;
      text-decoration: none;
    }

    .searchProdCont.\31 {
      position: absolute;
      top: 3%;
      left: 21%;
    }

    li.searchProductLink.\31 {list-style-type: none;}

    input.searchProductInput.\31 {
      border: none;
      border-bottom: 1px solid black;
      border-radius: 300px;
      display: inline-block;
      font-size: 13px;
      line-height: 26px;
      padding: 6px 48px;
      width: 365px;
    }

    input.searchProductInput.\31::placeholder {
      font-size: 13px;
      color: #A7A7A7;
    }

    input.searchProductInput.\31:focus {
      outline: none;
    }

    button.recentSearch.seeAll.\31{
      cursor: pointer;
      color: #a7a7a7;
      display: inline-block;    
      line-height: 27px;
      padding: 14px 32px;
      text-align: center;
      border: none;
      font-size: 13px;
      background-color: transparent;
      text-transform: uppercase;
    }

    .recentSearch.textCont {
      text-align: left;
      line-height: 1.2rem;
      margin-top: 0.7rem;
    }
  

    .albumBlocksCont.\31 {
      margin-left: 30px;
    }
    .recentSearchHeadersCont {      /*Recent Search Div Area */
      display: flex;
      justify-content: space-between;
    }
    .recentSearch.allAlbumCont {
      display: flex;
      gap: 1.5rem;
    }
    .recentSearchAlbumCont {
      cursor: pointer;
      background-color: #1c1c1c;
      height: 17.375rem;
      width: 12.5rem;
    }

    /* Search headers */
    p.recentSearchHeader {
      font-size: 24px;
      color: white;
      font-weight: 700;
      letter-spacing: -0.96px;
      line-height: 3.75rem;
    }

    .recentSearch.albumInfo {       /*Recent Search Albums*/
      margin-left: 15px;
      margin-right: 15px;
    }

    .recentSearch.albumInfoCover {
      margin-top: 1rem;
      height: 12rem;
      width: 11rem;
    }

    button.recentSearch.albumRemove {
      position: relative;
      top: 10%;
      left: 32%;
    }

    /*Album Text*/
    p.recentSearch.albumInfoName {
      color: white;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    p.recentSearch.albumInfoArtist {
      color: #B3B3B3;
    }


    /*Album Photos*/
    .recentSearch.albumInfoCover.\31 {
      background-image: url(../material/albums/seven/seven_albumCover.jfif);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .recentSearch.albumInfoCover.\32 {
      background-image: url(../material/albums/currentsB/currentsB_albumCover.jfif);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .recentSearch.albumInfoCover.\33 {
      background-image: url(../material/albums/myDearMelancholy/myDearMelancholy_albumCover.jfif);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .recentSearch.albumInfoCover.\34 {
      background-image: url(../material/albums/whereDoesTheDevilHide/whereDoesTheDevilHide_albumCover.jfif);
      background-repeat: no-repeat;
      background-size: cover;
    }

    /*            Genres Block Section          */
    /* Genre Block Colors: 
    amber, lavender, hotPink, scarlet, jade, navy, azure, thistle, tawnyBrown, greenPear, skyBlue, teal, gray*/
    .amber {background-color: #DD571C;}
    .lavender {background-color: #B57EDC;}
    .hotPink {background-color: #FF007F;}
    .scarlet {background-color: #FF1859;}
    .jade {background-color: #00A86B;}
    .navy {background-color: #003366;}
    .azure {background-color: #007FFF;}
    .thistle {background-color: #CDB6E4;}
    .tawnyBrown {background-color: #80471C;}
    .greenPear {background-color: #228C22;}
    .skyBlue {background-color: #00BFFF;}
    .teal {background-color: #008080;}
    .gray {background-color: #808080;}

    .genreBlockCont {
      display: flex;
      gap: 1.4rem;
      width: fit-content;
    }

    .topGenre.genreBlock {
      gap: 1.0rem;
      height: 10rem;
      width: 28rem;
      border-radius: 8px;
      overflow: hidden;
    }

    .browseAll.genreBlock {
      height: 12rem;
      width: 12rem;
      border-radius: 8px;
      overflow: hidden;           /*makes coverImg disappear as it leaves the color block*/
    }
    .browseAll.genreBlockCont.\32 {
      display: flex;
      height: 0.2rem;
      flex-wrap: wrap;
    }

    p.topGenre.genreBlockHeader {
      float: left;
      font-size: 30px;
      margin-left: 20px;
    }

    p.genreBlockHeader {
      float: left;
      padding: 18px;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: -0.4px;
      line-height: 31.2px;
      color: white;
    }

    /*genreBlock Images*/
    .genreBlockImage {
      position: relative;
      top: 28%;
      left: 77%;
      height: 125px;
      width: 125px;

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transform: rotate(25deg);
    }

    .browseAll.genreBlockImage {
      top: 47%;
      left: 57%;
      height: 100px;
      width: 100px;
    }

    /*top block images*/
    .topGenre.genreBlockImage.\31 {background-image: url('../material/genreListCovers/genreList_hipHop.jpg');}
    .topGenre.genreBlockImage.\32 {background-image: url('../material/genreListCovers/genreList_pop.jpg');}
    .topGenre.genreBlockImage.\33 {background-image: url('../material/genreListCovers/genreList_dance.electronic.jpg');}

    /*bottom block images*/
    .browseAll.genreBlockImage.\31 {background-image: url('../material/genreListCovers/genreList_podcasts.jpg');}
    .browseAll.genreBlockImage.\32 {background-image: url('../material/genreListCovers/genreList_madeForYou.png');}
    .browseAll.genreBlockImage.\33 {background-image: url('../material/genreListCovers/genreList_charts.jpg');}
    .browseAll.genreBlockImage.\34 {background-image: url('../material/genreListCovers/genreList_newReleases.jpg');}
    .browseAll.genreBlockImage.\35 {background-image: url('../material/genreListCovers/genreList_discover.jpeg');}
    .browseAll.genreBlockImage.\36 {background-image: url('../material/genreListCovers/genreList_concerts.jpg');}
    .browseAll.genreBlockImage.\37 {background-image: url('../material/genreListCovers/genreList_country.jpg');}
    .browseAll.genreBlockImage.\38 {background-image: url('../material/genreListCovers/genreList_frequency.jpg');}
    .browseAll.genreBlockImage.\39 {background-image: url('../material/genreListCovers/genreList_workout.jpg');}
    .browseAll.genreBlockImage.\31 0 {background-image: url('../material/genreListCovers/genreList_latin.jpg');}
    .browseAll.genreBlockImage.\31 1 {background-image: url('../material/genreListCovers/genreList_netflix.jpg');}
    .browseAll.genreBlockImage.\31 2 {background-image: url('../material/genreListCovers/genreList_rnb.jpg');}
    .browseAll.genreBlockImage.\31 3 {background-image: url('../material/genreListCovers/genreList_wellness.jpg');}
    .browseAll.genreBlockImage.\31 4 {background-image: url('../material/genreListCovers/genreList_mood.jpg');}
    .browseAll.genreBlockImage.\31 5 {background-image: url('../material/genreListCovers/genreList_sleep.jpg');}
    .browseAll.genreBlockImage.\31 6 {background-image: url('../material/genreListCovers/genreList_indie.jpg');}
    .browseAll.genreBlockImage.\31 7 {background-image: url('../material/genreListCovers/genreList_christianNGospel.jpeg');}
    .browseAll.genreBlockImage.\31 8 {background-image: url('../material/genreListCovers/genreList_regionalMexican.jpeg');}
    .browseAll.genreBlockImage.\31 9 {background-image: url('../material/genreListCovers/genreList_chill.jpg');}
    .browseAll.genreBlockImage.\32 0 {background-image: url('../material/genreListCovers/genreList_kidsNFamily.png');}



    /***        Search (3)                                     tab5               ***/   
    .trackImage {
      background-repeat: no-repeat;
      background-size: cover;
      height: 3rem;
      width: 3rem;
    }

    .addNewSongsPlaylistCont {
      display: flex;
      justify-content: space-around;
      background-color: #1c1c1c;
      margin-top: 0.2rem;
    }

    button.addSongsPlaylistBtn {
      cursor: pointer;
      position: relative;
      top: 22%;
      height: 32px;
      width: 9.5rem;
      font-size: 10px;
      opacity: 0.55;
      border: none;
      background-color: #333;
      color: white;
      border-radius: 23px;
      text-transform: uppercase;
    }



    /*Finished Playlist*/
    button.finishedPlaylistBtn {
      cursor: pointer;
      position: relative;
      top: 22%;
      height: 32px;
      width: 9.5rem;
      font-size: 10px;
      opacity: 0.55;
      border: none;
      background-color: #333;
      color: white;
      border-radius: 23px;
      text-transform: uppercase;
    }

    .playlistSong.trackInfoCont {
      text-align: left;
    }

    p.playlistSong.trackOrder {
      color: #B3B3B3;
      font-weight: bold;
    }

    p.playlistSong.trackTitle {
      color: white;
    }

    p.playlistSong.trackArtist {
      color: #B3B3B3;
    }

    p.playlistSong.albumTitle {
      color: #B3B3B3;
    }

    p.playlistSong.dateAdded {
      color: #B3B3B3;
      min-width: 16rem;
    }


    p.playlistSong.durationTime {
      color: #B3B3B3;
    }

    p.newPlaylistHeader {
      color: white;
      text-transform: uppercase;
      font-size: 12px;
    }

    h1.newPlaylistName.\31 {
      color: white;
      font-size: 85px;
      font-weight: bold;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 50%;
    }


    /***        (4) playingNowSect                                                                   section4               ***/
    .playingNowSectCont {
      margin-left: 37%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 60%;
    }

    /*Song Playing Now Controls + Image */
    .songPlayingCont {
      display: flex;
      align-items: flex-end;
      gap: 2rem;
      margin-top: 1rem;
    }

    .songPlayingImageCont {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      gap: 1rem;
    }

    p.songPlayingName.\31 {color: #fff;}
    p.songPlayingAlbum.\31 {color: #6a6a6a;}
    p.songProgressSec { color: #6a6a6a;}
  
    button.songSkip {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      background-color: transparent;
      border: none;
    }



    /*Left Container */
    .songInfo.playNowCategory.\31 {
      margin-left: 20px;
    }

    .songInfo.Name.\31 {
      text-align: left;
    }

    .songInfo.Container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    h3.songInfoHeader.\31 {
      color: white;
    }

    p.songInfoArtist.\31 {
      color: white;
    }

    p.songInfoTrack.\31 {
      color: white;
    }





    /*Middle Container */
    .songPlayingAlbum.Image.\31 {
      background-image: url("../material/song_artCovers/myLove_song11.jfif");
      background-repeat: no-repeat;
      background-size: cover;
      height: 5.5rem;
      width: 5.5rem;

    }

    .songPlaying.ProgressCont {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
    }


    .ProgBar.\31 {      
      height: 4px;
      width: 100%;
      background-color: grey;
    }

    .ProgBar.\32 {
      height: 4px;
      width: 0%;
      background-color: #fff;;
    }

    /*Song Duration Cont */
    .songProgressCont {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .songProgressSecCont {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.3rem;
    }

    .playBackIcon {
      cursor: pointer;
      color: black;
    }

    .songSkipSettings.\31 {
      display: flex;
      gap: 1rem;
    }


    /*Play Button */
    button.songSkip.Setting.\32 {
      height: 32px;
      width: 32px;
      border: none;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
    }


    svg.playBtnIcon {
      height: 34px;
      width: 26px;
    }



    /*right Container*/
    .globalSettingCont {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 5rem;
    }
    .globalSetting.playNowCategory.\33 {margin-right: 20px;}

    .topContHeader {color: #fff;}
    .songSkipSettings.\32 {display: flex;}

    .globalSetting.bottomCont {
      display: flex;
      align-items: center;
      width: 100%;
    }

    button.songMuteBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      height: 32px;
      width: 32px;
      margin-right: 8px;
    }

    .volumeShown.ProgBar.\32{
      cursor: pointer;
      width: 100%;
    }

    /*This allows playback functions to work because the svg covers the button sometimes*/
    svg {
      display: block;
      fill: currentcolor;
    }






    /*****                                              Media Queries                                               *****/
    @media (max-width: 834px) {


    /**!       (3) contentTabs                                                                   section3               !**/

      /**!        Listen Later (3)                                     tab3               !**/   
      .allDropZoneLists {
        margin-left: 7vw;
        margin-right: unset;
      }


    }

    @media (max-width: 546px) {
      .grid.layout {
        grid-template-columns: 0.25fr repeat(3, 1fr);
        grid-template-rows: 5.09fr 0.4fr 0.2fr;
      }

      .sideBar.Icon {
        margin-right: unset;
      }

      p.sideBarHeader {
        display: none; 
      }

      p.appLogoName {
        display: none; 
      }
    }

    @media (max-width: 360px) {}
