    * {
      box-sizing: border-box;
      -moz-box-sizing: border-box;

      margin: 0;
      padding: 0;
    }


    body {
      overflow-x: hidden;
    }


    /*! There are a total of 21 sections (11 sections in home, and 10 in shop) Every section will be in order except for the footer. It will be placed last
      * = shared class between pages, ^ = original class attributes in an early class
                                                                                       
      For your convenience, here is a list of the sections
                                                Home Page Grid (1) 
        (3) reminder                     section3              (4) saleBanner                   section4*                      
        (5) featOpener                   section5              (6) trendNowProdSect             section6             
        (7) memberAdv                    section7              (8) denimUpdate                  section8              
        (9) hmHomeLove                   section9              (10) hmMagazine                  section10                           
        (11) emptyDivider                section11
        
                                                  Shop Page Grid (2)
        (2) sidebar                      section2

        (13) menShirtInfo                section13             (14) prodFilters                 section14                           
        (15) selectedFilters             section15             (16) menProdGrid                 section16                          
        (17) showAllProd1 (mens)         section17                           
        (18) wmnShirtInfo                section18 ^13         (19) womenProdGrid               section19 ^16                           
        (20) showAllProd2 (wmns)         section20 ^17         (21) trendingProd                section21  

                                    (1) navBar                       section1*
                                    (12) Footer                      section12*                             

        Separate Modules: Cart Modal 1 | Favorites Modal 2    */



    /*
<!--         Your Library                                            Tab 2 of Library                                               -->
<!--         Listen Later                                            Tab 3 of Library                                               -->
<!--         Your Library                                            Tab 4 of Library                                               -->
<!--         Your Library                                            Tab 5 of Library                                               -->*/


    /**!                  Modal Shared Classes                      !**/
    .modal {
      position: fixed;
      display: none;
      overflow: auto;
      overflow-x: hidden;
      z-index: 2000;

      height: 100%;
      width: 100%;
      padding-top: 3.625rem;

      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-header {
      color: white;
      background-color: white;
      height: 4rem;
      padding: 0.125rem 1rem;
    }

    .popupHeader {
      cursor: pointer;
      position: relative;

      top: auto;
      left: 14%;
      font-size: 1.125rem;
      letter-spacing: 0.3rem;
    }


    .modal-content {
      position: relative;
      float: right;
      right: 0%;
      width: 30%;

      margin: auto;
      padding: 0rem;

      background-color: #fefefe;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s;
    }

    /*Close Button*/
    .close {
      float: right;
      font-size: 1.75rem;
      font-weight: bold;
      color: black;
    }

    .close:hover,
    .close:focus {
      cursor: pointer;
      text-decoration: none;
      color: #000;
    }


    /* Animations */
    @-webkit-keyframes animatetop {
      from {
        top: -300px;
        opacity: 0
      }

      to {
        top: 0;
        opacity: 1
      }
    }

    @keyframes animatetop {
      from {
        top: -300px;
        opacity: 0
      }

      to {
        top: 0;
        opacity: 1
      }
    }




    /**          Cart Modal 1 Section   - separate Modules (Modal 1)                    **/
    .cartCount {
      position: fixed;
      text-align: center;
      z-index: 1001;

      top: 2.5%;
      left: 94.5%;
      height: 1.563rem;
      width: 1.563rem;
      border-radius: 50%;

      font-size: 0.7rem;
      line-height: 1.563rem;
      font-weight: bold;
      color: #fff;
      background: black;
    }

    .scrolling-active .cartCount {
      color: black;
      background: white;
      z-index: 1001;
    }



    /*        Product Boxes        */
    .cartContainer {
      display: grid;
      justify-content: center;
      justify-content: space-evenly;

      position: relative;
      top: 10%;
    }

    .cartBox {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      flex-wrap: wrap;
      position: relative;
      left: -15%;
      text-align: center;
      min-height: 10rem;
      min-width: 28rem;
      padding: 1.25rem;
    }


    /*  Product Boxes  -  Images   */
    .cartProd-image {
      position: relative;
      /*background: url("../Material/mens/hoodies/model3.jfif");*/
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 18vh;
      width: 23%;
      top: -15%;
      left: 17%;
    }

    /* Text */
    .cartTextBox {
      position: relative;
      top: -45%;
      left: 20%;

      font-size: 0.75rem;
      letter-spacing: 0.094rem;
      font-family: century;
      text-align: left;
    }


    .cartProdHeader {
      color: black;
      font-size: 13px;
      letter-spacing: 0.25rem;
      font-family: none;
      font-weight: bold;
    }

    p.cartProdPrice {
      color: black;
      font-size: 13px;
      letter-spacing: 0.25rem;
      font-family: none;
      font-weight: bold;
    }

    p.cartProdColor {
      font-size: 11px;
    }

    p.cartProdCount {
      font-size: 11px;
    }

    p.cartProdSize {
      font-size: 11px;
    }



    /*  Product Box - Buttons   */
    .addProd {
      cursor: pointer;
      position: absolute;
      top: 57%;
      left: 90%;
    }

    .deleteProd {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      top: 60%;
      left: 100%;
      font-size: 1.063rem;
      width: 1.875rem;
      height: 1.563rem;

      background-color: white;
      border: transparent;
      opacity: 35%;
      transition: 1.3s;
    }

    .deleteProd:hover {
      border: 2px solid black;
      opacity: 100%;
      transition: 0.4s;
    }


    /* Cart Total Container */
    .cartProd-image.\-1 {
      background: none;
    }

    .cartTextBox.\-1 {
      font-size: 0.75rem;
      letter-spacing: 0.2rem;
      top: -23%;
      left: 0%;
    }

    p.cartProdHeader.-\31 {
      font-size: 17px;
      letter-spacing: 0.2rem;
      font-family: none;
      font-weight: bolder;
    }

    .cartProdHeader.-\31::after {
      content: "";
      position: absolute;
      top: 36%;
      left: 0.2%;
      border-bottom: 1px solid black;
      width: 125%;
      opacity: 20%;
    }

    p.cartProdPrice.-\31 {
      margin-top: 60px;
      font-size: 13px;
      letter-spacing: 2px;
      font-family: none;
      color: #707070;
    }

    p.cartProdPrice.-\31::after {
      content: "";
      position: absolute;
      top: 75%;
      left: 0.2%;
      border-bottom: 2px solid black;
      width: 125%;
      opacity: 53%;
    }

    p.cartProdSale.-\31 {
      display: none;
      margin-top: 14px;
      font-size: 13px;
      letter-spacing: 2px;
      font-family: none;
      color: #707070;
    }

    p.cartProdColor.-\31 {
      margin-top: 30px;

      font-size: 17px;
      letter-spacing: 0.1rem;
      font-family: none;
      font-weight: bolder;
    }

    span.textAlignRight {
      position: relative;
      float: right;
      left: 25%;
      color: black;
    }

    /*Buttons*/
    button.deleteProd.-\31 {
      display: none;
    }

    .addProd.-\31 {
      cursor: pointer;
      display: flex;
      display: none;

      position: absolute;
      top: 68%;
      left: 86%;
    }

    .discountBtnDiv {
      display: flex;
      justify-content: space-around;
      width: 40%;

      position: relative;
      top: -1%;
      left: 36%;
    }

    button.discountBtn {
      font-size: 11px;
      letter-spacing: 0.1rem;

      color: black;
      background-color: white;

      font-family: 'HMSansLatin-Regular';
      font-weight: 100;
      text-transform: uppercase;
      text-decoration: none;

      border: 1px solid black;
      width: 25%;
      padding: 0.4rem;
    }










    .dropdownDot.Icon {
      /*background: url("../Material/Assets/navBar_SVG/dropdownDots.svg");*/
      height: 24px;
      width: 24px;

      margin-top: -4px;
      color: #000000;
      background-repeat: no-repeat;
    }


    /* top right menu container (preferences/cart)*/
    a.personalCartLink {
      cursor: pointer;
      display: flex;
      align-items: center;

      font-size: 13px;
      color: #000000;
      text-decoration: none;
    }


    /*custom icons
    a.personalCartLink.\31::before {
      content: "";
      display: block;
      background: url("../Material/Assets/navBar_SVG/accountHead.svg");
      background-repeat: no-repeat;
      margin-right: 6px;
      height: 24px;
      width: 24px;
    }

    a.personalCartLink.\32::before {
      content: "";
      display: block;
      background: url("../Material/Assets/navBar_SVG/favoriteHeart.svg");

      margin-right: 6px;
      height: 24px;
      width: 24px;
    }

    a.personalCartLink.\33::before {
      content: "";
      display: block;
      background: url("../Material/Assets/navBar_SVG/shoppingBag.svg");

      margin-right: 6px;
      height: 24px;
      width: 24px;
    }



    /*!                 Scroll Effects                  !*/

    .scrolling-active {
      /*Background*/
      background: black;
      box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
      z-index: 1002;

      transition: 800ms;
    }


    /* Text */
    .scrolling-active .nav-link {
      color: white;
      z-index: 1001;

    }

    .scrolling-active p.logo {
      color: white;

    }

    .scrolling-active .nav-link:hover {
      color: #878686;
      z-index: 1001;
      transition: 600ms;

    }



    /*                  Grid Layout               */
    .grid.layout {
      position: relative;
      display: grid;
      text-align: center;
      grid-template-columns: 0.75fr repeat(3, 1fr);
      grid-template-rows: 0.1fr 3.5fr 1.0fr;
      grid-template-areas:
        "librarySideBar appSettingsNav appSettingsNav appSettingsNav"
        "librarySideBar homeSect homeSect homeSect"
        "playNowSect playNowSect playNowSect playNowSect";
    }




    /*    Grid Areas    */
    .appSettingsNav {
      grid-area: appSettingsNav;
    }

    .homeSection.tab {
      grid-area: homeSect;
      background-color: #1c1c1c;
    }

    .playingNowSect {
      grid-area: playNowSect;
      background-color: #181818;
    }

    .librarySideBar {
      grid-area: librarySideBar;
    }






    /***         (1)  appSettingsNav                                       section1                ***/

    .appSettings.Menu {
      background-color: black;
      height: 100%;
    }

    .project.Logo {
      display: none;
    }

    .appSettings.Container {
      display: flex;
      width: 90%;
      flex-direction: column;
      align-items: flex-end;
      height: 100%;
      justify-content: center;
    }


    a.settings.mainBtnHeader.\31 {
      font-size: 18px;
      font-weight: bold;
      color: white;
    }

    .userSettings {
      display: flex;
      flex-direction: column;
    }

    button.setting {
      border: none;
      padding: 0.25rem;
      color: white;
      background-color: transparent;
    }

    .userSettings {
      display: absolute;
      position: absolute;
      display: none;
    }

    button.logOutBtn {
      width: 60%;
      border: none;
      border-radius: 40%;
      padding: 0.5rem;
    }






    /***       (2)  homeSection                                           section2              ***/

    .home.BannerImage {
      background-image: url(../material/appIcons/banner1_image.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 10rem;
      width: 100%;
      margin-left: 20px;
      margin-right: 20px;
    }


    .homeContent.HeaderCont {
      display: flex;
      color: white;
    }

    .home.playlistCont {
      display: flex;
      /* justify-content: flex-start; */
    }

    p.homeContentHeader {
      display: flex;
      color: white;
    }

    button.playlistBtnCont {
      display: flex;
    }

    .playlistCover {
      background-image: url(../material/song_artCovers/bound2_song7.jfif);
      background-repeat: no-repeat;
      background-size: cover;
      height: 5rem;
      width: 100%;
    }





    /** Tabs **/
    .yourLibrarySect.tab {
      display: none;
      width: 100%;
      height: 100%;
      grid-area: homeSect;
      overflow-x: hidden;
    }

    .searchCont.tab4 {
      background-color: #121212;
      height: fit-content;
    }

    .library.newPlaylistInfo {
      background-color: #474747;
      text-align: left;
      display: flex;
      border-left: solid 50px #474747;
      border-bottom: solid 50px #474747;

    }

    .library.newPlaylistCont {
      background-color: #1C1C1C;
    }

    .newPlaylistUserName.\31 {
      color: white;
    }

    .newPlaylistUserSongs.\31 {
      color: #B3B3B3;
    }

    .newPlaylistUserTime.\31 {
      color: #B3B3B3;
    }



    /*Playlist Icons */
    .playlistControlLeftCont.\31 {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }

    button.playlistPlayBtn.\31 {
      background-color: #1DB954;
      border: none;
      border-radius: 100%;
      height: 4.1rem;
      width: 4rem;
    }

    button.playlistDownloadBtn.\31 {
      background-color: #1DB954;
      border: none;
      border-radius: 100%;
      height: 2.2rem;
      width: 2rem;
    }

    button.playlistSettingsBtn.\31 {
      border: none;
      background-color: transparent;
    }

    button.playlistSearchBtn.\31 {
      background-color: transparent;
      border: none;
    }

    button.playlistFilterSongBtn.\31 {
      background-color: transparent;
      border: none;
    }

    .playlistControlRightCont.\31 {
      display: flex;
      align-content: center;
    }


    p.findSongsPlaylistHeader {
      color: white;
      font-size: 20px;
      font-weight: bold;
    }



    /* Top Container */
    .newPlaylistUserCont {
      display: flex;
      gap: 7px;
    }

    .library.newPlaylistImage {
      background-image: url(../material/song_artCovers/myLove_song11.jfif);
      background-repeat: no-repeat;
      background-size: cover;
      height: 14rem;
      width: 20%;
    }


    /* bottom container */
    .newPlaylistControlCont.\31 {
      display: flex;
      justify-content: space-between;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .newPlaylist.colmHeaders {
      display: flex;
      justify-content: space-between;
      color: #B3B3B3;
      font-size: 14px;
      margin-left: 110px;
    }

    .newPlaylist.orderCont {
      display: flex;
    }


    /* Song Div */

    button.newPlaylistSongs {
      z-index: 1000;
    }

    .newPlaylistSongs {
      cursor: pointer;
      display: flex;
      /*background-color: tan;*/
      width: 100%;
      background-color: #1C1C1C;
      border: transparent;
      margin-top: 2rem;
      margin-left: 1rem;
      margin-right: 2rem;
      align-items: center;
      justify-content: space-around;
    }

    .playlistSong.orderCont {
      display: flex;
      align-items: center;
      min-width: 15rem;
      /* background-color: red; */
      gap: 1rem;
    }

    .playlistSongs.albumCont {
      align-items: flex-start;
      width: 10rem;
      text-align: left;
    }



    /* Tab 3 - Listen Later */
    .yourLibrarySect.tab.\33 {
      background-color: #1c1c1c;
    }

    .laterTabHeaderCont {
      display: flex;
      justify-content: space-between;
    }

    button.laterTabHeader {
      cursor: pointer;
      border: none;
      background-color: transparent;
      color: white;
      font-size: 16px;
    }


    /*Tab 4 - Search for Items */
    a.productSectLink {
      font-size: 16px;
      color: #000000;
      text-decoration: none;
    }


    input.searchProductInput.\31 {
      position: relative;
      top: 51%;
      left: -15%;
      padding: 10px 15px 8px 30px;

      border: none;
      background-color: transparent;
      border-bottom: 1px solid black;
    }

    input.searchProductInput.\31::placeholder {
      font-size: 13px;
      color: #000000;
      opacity: 1;
    }

    input.searchProductInput.\31:focus {
      outline: none;
    }

    li.searchProductLink.\31 ::after {
      content: "";
      display: block;
      /*background: url("../..");*/

      position: relative;
      left: -15%;
      margin-top: -24px;
      height: 24px;
      width: 24px;
    }

    /* colors: amber, lavender, hotPink, scarlet, jade, navy, azure, thistle, tawnyBrown, greenPear, skyBlue, teal, gray*/

    .amber {
      background-color: #DD571C;
    }

    .lavender {
      background-color: #B57EDC;
    }


    .hotPink {
      background-color: #FF007F;
    }

    .scarlet {
      background-color: #FF1859;
    }

    .jade {
      background-color: #00A86B;
    }

    .navy {
      background-color: #003366;
    }

    .azure {
      background-color: #007FFF;
    }

    .thistle {
      background-color: #CDB6E4;
    }

    .tawnyBrown {
      background-color: #80471C;
    }

    .greenPear {
      background-color: #228C22;
    }

    .skyBlue {
      background-color: #00BFFF;
    }

    .teal {
      background-color: #008080;
    }

    .gray {
      background-color: #808080;
    }












    /*Search Tab 4*/
    .albumBlocksCont.\31 {
      margin-left: 30px;
    }

    /*Recent Search Div Area */
    .recentSearchHeadersCont {
      display: flex;
      justify-content: space-between;
    }

    .recentSearch.allAlbumCont {
      display: flex;
      justify-content: space-between;
    }

    .recentSearchAlbumCont {
      background-color: #1c1c1c;
      height: 18rem;
      width: 12rem;
    }

    .recentSearch.albumInfo {
      margin-left: 15px;
      margin-right: 15px;
    }

    .recentSearch.albumInfoCover {
      height: 12rem;
      width: 100%;
    }

    button.recentSearch.albumRemove {
      position: relative;
      top: 10%;
      left: 32%;
    }

    /*Text Albums */
    p.recentSearch.albumInfoName {
      color: white;
    }

    p.recentSearch.albumInfoArtist {
      color: #B3B3B3;
    }



    .recentSearch.albumInfoCover.\31 {
      background-image: url(../material/albums/seven/seven_albumCover.jfif);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .recentSearch.albumInfoCover.\32 {
      background-image: url(../material/albums/currentsB/currentsB_albumCover.jfif);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .recentSearch.albumInfoCover.\33 {
      background-image: url(../material/albums/myDearMelancholy/myDearMelancholy_albumCover.jfif);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .recentSearch.albumInfoCover.\34 {
      background-image: url(../material/albums/whereDoesTheDevilHide/whereDoesTheDevilHide_albumCover.jfif);
      background-repeat: no-repeat;
      background-size: cover;
    }









    /*Genres Section*/
    .genreBlockCont {
      display: flex;
      /* justify-content: space-around; */
      gap: 1.5rem;
      width: fit-content;
    }

    .topGenre.genreBlock {
      height: 10rem;
      width: 25rem;
    }

    .browseAll.genreBlock {
      height: 12rem;
      width: 13rem;
    }

    p.topGenre.genreBlockHeader {
      font-size: 30px;

    }

    p.genreBlockHeader {
      color: white;
      font-weight: bold;
      font-size: 20px;
    }

    /*For headers */
    p.recentSearchHeader {
      font-size: 20px;
      font-weight: bold;
      color: white;
    }




    /*Bottom Container */
    .browseAll.genreBlockCont.\32 {
      display: flex;
      height: 20rem;
      flex-wrap: wrap;
    }



    /*Tab 5*/
    .playlistSong.trackImage {
      background-repeat: no-repeat;
      background-size: cover;
      height: 3rem;
      width: 3rem;
    }

    .addNewSongsPlaylistCont {
      display: flex;
      justify-content: space-around;
      background-color: #1c1c1c;
    }



    /*Finished Playlist*/
    button.finishedPlaylistBtn {
      position: sticky;
      top: 50%;
    }

    .playlistSong.trackInfoCont {
      text-align: left;
    }

    p.playlistSong.trackOrder {
      color: #B3B3B3;
      font-weight: bold;
    }

    p.playlistSong.trackTitle {
      color: white;
    }

    p.playlistSong.trackArtist {
      color: #B3B3B3;
    }

    p.playlistSong.albumTitle {
      color: #B3B3B3;
    }

    p.playlistSong.dateAdded {
      color: #B3B3B3;
      min-width: 16rem;
    }


    p.playlistSong.durationTime {
      color: #B3B3B3;
    }








    /* Tab 5 */

    p.newPlaylistHeader {
      color: white;
      text-transform: uppercase;
      font-size: 12px;
    }

    h1.newPlaylistName.\31 {
      color: white;
      font-size: 85px;
      font-weight: bold;
    }



    /***          (3) librarySideBar                                      section3                ***/
    .librarySideBar.headerCont {
      display: flex;
      flex-direction: column;
      height: 100%;

      background-color: black;
    }

    .librarySideBarContent {
      display: flex;
      flex-direction: column;
    }


    h1.librarySideBar.mainHeader.\31 {
      margin-top: 20px;
      font-size: 25px;
      color: white;
    }

    button.librarySideBar.headerBtn {
      cursor: pointer;
      border: none;
      font-size: 14px;
      padding: 0.75rem;
      text-align: left;
      color: #B3B3B3;
      background-color: transparent;
      margin-left: 15px;
      margin-right: 15px;
    }



    /***          (4)  playingNowSect                    section4               ***/
    .playingNowSectCont {
      display: flex;
      justify-content: space-between;
    }


    button.songSkip {
      height: 20px;
      width: 24px;
      color: white;
    }




    /*Left Container */
    .songInfo.playNowCategory.\31 {
      margin-left: 20px;
    }

    .songInfo.Name.\31 {
      text-align: left;
    }

    .songInfo.Container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    h3.songInfoHeader.\31 {
      color: white;
    }

    p.songInfoArtist.\31 {
      color: white;
    }

    p.songInfoTrack.\31 {
      color: white;
    }





    /*Middle Container */
    .songPlayingAlbum.Image.\31 {
      background-image: url("../material/song_artCovers/myLove_song11.jfif");
      background-repeat: no-repeat;
      background-size: cover;
      height: 5rem;
      width: 100%;
    }


    .ProgBar.\31 {
      margin-bottom: 16px;
      width: 28%;
      background-color: grey;
    }

    .ProgBar.\32 {
      height: 5px;
      width: 66%;
      background-color: black;
    }


    .playBackIcon {
      cursor: pointer;
      color: black;
      /* align-items: center; */
      /* text-align: center; */
    }

    .songSkipSettings.\31 {
      display: flex;
    }


    /*Play Button */
    button.songSkip.Setting.\32 {
      height: 30px;
      width: 30px;
      border: none;
      border-radius: 100%;
      display: flex;
      align-items: center;
    }


    svg.playBtnIcon {
      height: 34px;
      width: 26px;
    }





    /*Song Duration Cont */
    .songProgressCont {
      display: flex;
    }



    /*right Container*/
    .globalSetting.playNowCategory.\33 {
      margin-right: 20px;
    }


    button.songQueueBtn {
      height: 20px;
      width: 20px;
      border-radius: 60%;
      background-color: orange;
    }

    button.songMuteBtn {
      height: 20px;
      width: 20px;
      border-radius: 60%;
      background-color: orangered;
    }


















    /***          (7)                      section7              ***/








    /*****                                              Media Queries                                               *****/

    @media (max-width: 1250px) {}


    @media (max-width: 870px) {}



    @media (max-width: 546px) {}



    @media (max-width: 387px) {}
